*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    background-color:#e0e3eb
}

.calculator{
    background-color:#fff;
    padding:20px;
    border-radius:20px;
    box-shadow:0 10px 25px rgba(0,0,0,0.1);
    width:350px;
}

#display{
    width:100%;
    border:none;
    background-color:#222;
    color:#fff;
    font-size:3rem;
    text-align:right;
    padding:20px;
    border-radius:10px;
    margin-bottom:20px;
    outline:none;
}

.buttons{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:10px;
}

button{
    padding:20px;
    font-size:1.2rem;
    border:none;
    border-radius:10px;
    cursor:pointer;
    background-color:#f0f0f0;
    color:#333;
    font-weight:bold;
    transition:background 0.2s;
}

button:hover{
    background-color:#ddd;
}

.operator{
    color:#007dff;
    background-color:#e6f2ff;
}

.equal{
    background-color:#007bff;
    color:white;
}

.equal:hover{
    background-color:#0056b3;
}